<div class="page-title center">
  <h1 class="title-text white-text">Flights Booker</h1>
</div>

<div class="flight-form">
  <%= render 'search_flight_form', flight: @flight %>
</div>

<% if @flights %>
  <%= render 'search_result_form', flights: @flights %>
<% end %>
