<div class="page-title">
  <h1 class="title-text">Flights Booker</h1>
</div>

<div class="search-flight-form">
  <%= render 'search_flight_form', flight: @flight %>
</div>

<% if @flights %>
  <%= render 'search_result_form', flights: @flights %>
<% end %>
