.center {
  text-align: center;
}

.white-text {
  color: white;
}

.page-title {
  margin-top: 8%;
}

.title-text {
  font-size: 2.2rem;
}

.flight-form {
  width: 75%;
  margin: 3% auto;
}

.selectors-section {
  display: flex;
  justify-content: space-around;
  margin-bottom: 45px;
}

.submit-section {
  display: flex;
  justify-content: space-evenly;
}

.form-section {
  display: flex;
  flex-direction: column;
}

.form-section label {
  font-size: 1.25rem;
  margin-right: 5px;
  color: var(--subtitle);
}

.form-section select {
  width: 200px;
  padding: 5px;
  font-size: 0.9rem;
}

.submit-section input[type="submit"] {
  padding: 8px 16px;
  background-color: #4756e1;
  color: white;
  font-size: 1.2rem;
  border: 2px solid #00000054;
}

.submit-section input[type="submit"]:hover {
  cursor: pointer;
  transform: scale(1.01);
}

.flight-details {
  display: flex;
  background-color: azure;
  border-radius: 10px;
  padding: 15px;
  width: 85%;
  margin: auto;
  margin-bottom: 45px;
}

.info-section {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
}
